* {
  margin: 0;
}

p {
  background: rgb(139, 157, 187);
  padding: 50px;
  margin: 15px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  background-color: rgb(50, 61, 81);
  padding: 25px;
  text-align: center;
  font-size: 20px;
  color: white;
}

h2 {
  background-color: rgb(50, 61, 81);
  padding: 40px;
  text-align: center;
  font-size: 30px;
  color: white;
}

section {
  padding: 10px;
  margin: 20px;
  background-color: rgb(50, 61, 81);
  color: white;
  font-family: verdana, sans-serif;
  text-align: center;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.cat {
  background-color: rgb(41, 45, 53);
}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left:0;
  width: 30%;
  background-color:darkgray; 
}
.right {
  right:0;
  width: 70%;
  background-color: beige;
} 
.centered{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} 

.centered img{
  width: 400px;
  height: 200px;
} 